
#banner {
    background-color:aqua; 
    width: 800px;
    height: 100px;
    clear:both;
    position: fixed;
}

#nav {
    background-color: beige;
    width: 200px;
    height:1000px;
    float: left
}

#content{
    background-color:blanchedalmond;
    width: 500px;
    height 1000px;
    float:left;
}

#supporting{
    background-color: beige;
    width: 100px;
    height 800px;
    float:left;
}
    
#footer{
    background-color: darkgray
    width: 100 px;
    height 800px;
    position: fixed;
    clear:both;
        
}
#body{
    maegin:0;
    padding: 0;
}
#content, #nav, #supporting{
    margin-top: 100px
}